.card-subscription {
    width: 100vw;
    align-items: center;
    justify-content: center;
    padding: 20px 45px;
    background-color: aqua;
}






.sections-titles {
    width: 100vw;
    margin-top: 40px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.catalog-section {
    width: 100vw;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 0 60px;
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    justify-items: start;
    gap: 25px;
}

.catalog-filter {
    width: 15vw;
    font-size: small;
}

.catalog-filter h6 {
    font-size: 1.2rem;
}

.catalog-filter button {
    background-color: transparent;
    border: none;
}

.catalog-products {
    width: 80vw;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}

.item-catalog {
    width: 36vw;
    max-height: 30vh;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    gap: 2vw;
}

.img-product img {
    width: 12vw;
    min-width: 120px;

}

.info-product {
    text-wrap: wrap;
    min-width: min-content;
    font-size: small;
}

.info-product h5 {
    font-weight: 600;
}

#product-price {
    font-size: large;
    color: #8d0c0c;
    font-weight: 700;
}

.info-product button {
    width: 100px;
    padding: 8px;
    background-color: #955EB7;
    color: white;
    border: none;
    border-radius: 10px;
}

.info-product button:hover {
    border: #955EB7 solid 2px;
    background-color: white;
    color: #955EB7;
}

@media (max-width: 1000px) {
    .catalog-section {
        flex-direction: column;
    }

    .catalog-filter {
        width: 100vw;
    }

    .filter-content hr {
        display: none;
    }

    .filter-content {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .catalog-products {
        width: 90vw;
        justify-content: space-between;
    }

    .item-catalog {
        width: 43vw;
        min-width: 350px;
        max-height: 35vh;
    }

    .img-product img {
        width: 15vw;
        min-width: 180px;
    }

    .info-product {
        font-size: small;
    }
}

@media (max-width: 810px) {
    .catalog-products {
        width: 90vw;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
    }

    .item-catalog {
        width: 80vw;
        min-width: 420px;
        font-size: 1vw;
    }

    .img-product img {
        width: 18vw;
        min-width: 120px;
    }
}

@media (max-width: 550px) {
    .catalog-section {
        padding: 20px;
    }

    .catalog-filter {
        justify-content: left;
        width: 90vw;
    }

    .filter-content {
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        gap: 10px;
    }

    .catalog-products {
        align-items: center;
    }

    .item-catalog {
        flex-direction: column;
        width: 60vw;
        min-width: 200px;
        height: fit-content;
        max-height: none;
        font-size: small;
    }

    .img-product img {
        width: 30vw;
    }
}