/* ----- estilos footer ----- */
body {
    font-family: "Poppins";
}
footer {
    background-color: rgb(247, 244, 244);
    padding: 10px 45px;
    font-family: "Poppins", sans-serif;
}

.botonFooter {
    background-color: #955EB7;
    color: white;
    border-color: #955EB7;
}

.botonFooter:hover {
    background-color: white;
    color: #955EB7;
    border-color: #955EB7;
}

footer img {
    width: 150px;
    margin-bottom: 20px;
}

footer form input {
    padding: 7px;
    border: none;
    border-radius: 5px;
}

/* ----- estilos sobre slogan ----- */
.slogan-text {
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.slogan-text h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 800;
}

/* ----- estilos sobre nosotros ----- */
.about-us {
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us img {
    max-width: 35vw;
    border-radius: 10px;
}

.about-text {
    width: 40vw;
    margin: 0 60px;
    text-align: center;
}

.about-text h2 {
    /* font-size: 2.5rem; */
    margin-bottom: 20px;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
}

.about-text p {
    font-family: "Jost", sans-serif;
}

.separator-nav {
    width: 100%;
    max-height: 8px;
    margin: 0;
    padding: 0;
}

.separator-footer {
    width: 100%;
    max-height: 8px;
    margin: 0;
    padding: 0;
}

#azul {
    width: 25%;
    height: 8px;
    margin: 0;
    padding: 0;
    display: inline-block;
    background-color: #0EB1D2;
    color: #0EB1D2;
}

#light-green {
    width: 25%;
    height: 8px;
    margin: 0;
    padding: 0;
    display: inline-block;
    background-color: #C8FAA9;
    color: #C8FAA9;
}

#turq {
    width: 25%;
    height: 8px;
    margin: 0;
    padding: 0;
    display: inline-block;
    background-color: #5DD6BE;
    color: #5DD6BE;
}

#morado {
    width: 25%;
    height: 8px;
    margin: 0;
    padding: 0;
    display: inline-block;
    background-color: #955EB7;
    color: #955EB7;
}